


.container {
    width: 650px;
    height: auto;
    margin: 0 auto;
    padding: 80px ;
}

.calc {
    margin: 20px auto;    
    background-image: url("/img/edinorog.jpg");    
    width: 400px;
    padding: 30px;
    border-radius: 6px;
}

.calc-grid {       
    display: grid;
    grid-template-columns: repeat(4, 1fr);    
    column-gap: 8px;
    width: 360px;
    height: auto;
    margin: 0; 
  }


.long_grid_2 {
    grid-column: span 2;
}

.long_grid_1 {
    grid-row: span 2;
}

.calc-display-input {
    width: 380px;
    height: 60px;
    margin: 20px 0;
    border-radius: 6px;
    background-color: #272626;
    color: #fff;
    text-align: right;
    font-size: 35px;
    padding: 10px;
}

.btn {
    width: 85px;
    height: 65px;
    background-color: #fcde9d;
    font-size: 27px;
    color: #332f5e;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 0;
    cursor: pointer;
    transition: 0.1s all;
}

.btn-hover-red:hover {
    background-color: #f8695f;
    color: #f2f2f2;
}

.btn-hover-orange:hover {
    background-color: #f7a469;
    color: #f2f2f2;
}

.btn-hover-green:hover {
    background-color: rgb(102, 190, 102);
    color: #f2f2f2;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0px 1px #ccc;
}

.btn-long {
    width: 183px;
}

.btn-equal {
    height: 145px;
}

input, button {
    padding: 5px 15px;
    margin: 10px;
    border: 1px grey solid;
    border-radius: 4px;    
}

button {   
    margin-left: 0;
    padding: 15px 24px;
}

@media screen and (max-width: 768px) {

    .container {
        width: 500px;
        height: auto;
        margin: 0 auto;
        padding: 30px 0;
    }

    .calc {
        width: 300px;
        margin: 0 auto;
    }
    .calc-display-input {
        width: 280px;
    }
    
    input[placeholder]          {font-size: 28px;}
    input::-moz-placeholder     {font-size: 28px;} 
    input:-moz-placeholder      {font-size: 28px;} 
    input:-ms-input-placeholder {font-size: 28px;}  
    
    .calc-grid {
        width: 300px;
    }

    .btn {
        width : 64px;
        padding: 0;
    }
    .btn-long {
        width: 140px;
    }
}

@media screen and (max-width: 400px) {

    .container {
        width: 300px;
        height: auto;
        margin: 0 auto;
        padding: 10px 0;
    }

    .calc {
        width: 280px;
    }
    .calc-display-input {
        width: 260px;
    }
    .btn {
        width : 60px;
    }
    .btn-long {
        width: 132px;
    }
}


